* {
  box-sizing: border-box;
}

:root {
  --clr-fully-loaded: rgba(37, 19, 199, 1);
}

html {
  direction: ltr;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 55vmin;
  height: 14vmin;
  border: 1.5vmin solid var(--clr-fully-loaded);
  border-radius: 1.5vmin;
  display: flex;
  justify-content: left;
}

div {
  width: 0.5vmin;
  background-color: var(--clr-fully-loaded);
}

div:hover {
  background-color: var(--clr-fully-loaded);
  opacity: 0;
}

div:hover ~ div {
  background-color: var(--clr-fully-loaded);
  opacity: 0;
}
